:root{
    --bgbutton-color:rgb(204, 222, 243);
    --button-textcolor:white;
    --button-width: 40%;
    --button-fontsize:12px;
    --button-radious:5%;
    --button-border-width:1px;
    --button-borderstyle:solid;
    --button-border-color:rgb(156, 151, 151);
}



button{
    background-color: var(--bgbutton-color);
    width: var(--button-width);
    padding: 5px;
    font-size: var(--button-fontsize);
    border-style: var(--button-borderstyle);
    border-radius: var(--button-radious);
    border-width: var(--button-border-width);
}