.para-one{
    font-size:var(--heading-fontsize);
    text-align: center;
}


.schedule{
    display: block;
    align-content: space-evenly;
    padding: 5px;
}
.full{
    grid-template-columns: 1fr 1fr 1fr;
    font-size: var(--bodyfont-size-grid) ;
}


.full-time{
    border-style: var( --button-borderstyle);  
    border-width: var(--button-border-width);
    margin: 5px;
    padding: 5px;
}
.tt{
    border-style: var( --button-borderstyle);  
    border-width: var(--button-border-width);
    margin: 5px;
    padding: 5px;
}
.evening{
    border-style: var( --button-borderstyle); 
    border-width: var(--button-border-width);
    margin: 5px; 
    padding: 5px;
}
.mission-grid{
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-size: var(--bodyfont-size-grid) ; ;
}


